cloudflare_account_id = "REPLACE_ME"
cloudflare_zone_id    = "REPLACE_ME"
cloudflare_zone_name  = "miak-it.dev"
cloudflare_prod_zone_id   = "REPLACE_ME"
cloudflare_prod_zone_name = "miak-it.com"
cloudflare_de_zone_id     = "REPLACE_ME"
cloudflare_de_zone_name   = "miak-it.de"
hello_hostname        = "hello"
access_allowed_email  = "ammadkhan@msn.com"
